.listCard {
  width: 100%;
  min-height: 127px;
  margin-bottom: 25px;
}
.buttonMarginL {
  margin-left: 30px;
}

.marginTop20 {
  margin-top: 20px;
}
.marginBottom25 {
  margin-bottom: 25px;
}
.detailRightBox {
  width: 100%;
  :global {
    .ant-collapse {
      background-color: transparent;
    }
  }
}
.textCenter {
  text-align: center;
}
.codeMirror {
  height: 100px;
}
:global {
  .react-codemirror2 .CodeMirror {
    height: auto;
  }
  .react-codemirror2 .CodeMirror-code {
    min-height: 150px;
  }
}
.copyInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mainBox {
  display: flex;
  .leftBox {
    width: 256px;
    margin-right: 20px;
  }
  .rightBox {
    flex: 1;
    width: calc(100% - 276px);
  }
}
.hidden {
  display: none;
}
.drawerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
}
.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.codeBox {
  overflow: hidden;
}
