.listCard {
  width: 100%;
  min-height: 127px;
  margin-bottom: 25px;
}
.buttonMarginL {
  margin-left: 30px;
}
.marginTop20 {
  margin-top: 20px;
}
.detailRightBox :global .ant-collapse {
  background-color: transparent;
}
.textCenter {
  text-align: center;
}
